.main {
  height: 100%;

  padding: 2rem 0;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid black;
  padding: 2rem;
  min-width: 50%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box_loading {
  min-width: fit-content;
}

.title {
  font-size: 4rem;
  text-align: center;
}

.actionsBox {
  display: flex;
  justify-content: space-around;
}

.actionsBox button {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}

@media (max-width: 576px) {
  .main {
    align-items: flex-start;
    padding: 0;
  }

  .box {
    width: 100%;
    padding: 2rem 0;
    border: none;
  }

  .box_loading {
    height: 100%;

    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 3rem;
    padding: 0 2rem;
  }
}
