.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  min-width: 50%;
  border: 1px solid black;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formLoading {
  align-items: center;
  min-width: fit-content;
  padding: 4rem;
}

.formTitle {
  font-size: 4rem;
  text-align: center;
}

.formError {
  color: red;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.inputBox input {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.actionBox {
  display: flex;
  justify-content: center;
}

.actionBox button {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
